header img {
    height: 80px;
    margin-left: 40px;
}
body {
    height: 3000px;
    background: linear-gradient(400deg, #007BB8 0%, #00AFF0 70%, #CDF6FF 80%,white 90%);
  }


main {
    color: white;
}

header {
    background-color: #00AFF0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    color: white;
    box-shadow: 0 0 25px 0 black;
}

header h3 {
    padding-left: 3pc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.searchBox {
    position: absolute;
    top: 10%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 2px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #00AFF0;
  color : whitesmoke;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}