body {
  text-align: center;
  padding: 2px;
}

.title {
  display: flex;
  justify-content: center;
}

.parent-upload {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.submit-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-left: 42.7rem;
}
