<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dashboard.css" />
    <title>Dashboard</title>
</head>

<body>
    <header>
    <h3>Hello {{user.username}}</h3>
    
        <div class="searchBox">

            <input class="searchInput"type="text" name="" placeholder="Search">
            <button class="searchButton" href="#">
                <i class="material-icons">
                    search
                </i>
            </button>
        </div>
    <img src="{{url_for('static', filename='user_pics/' + user.image_file)}}" alt="Profile Picture" width="100" height="100">
    </header>
    <br>
    <div class="container">
    <h2>My Posts</h2>
    {% for post in posts %}
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <p>{{post.date_posted}}</p>
    {% endfor %}
    </div>
    <br>
    <a href="{{url_for('new_post')}}">Create a new post</a>
    <br>
    <a href="{{url_for('account')}}">Account</a>
    <br>
    <a href="{{url_for('home')}}">Home</a>
    <br>
    <a href="{{url_for('about')}}">About</a>
    <br>
    <a href="{{url_for('contact')}}">Contact</a>
    <br>
    <a href="{{url_for('logout')}}">Press here to logout</a>
</body>

</html>