<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dashboard.css" />
    <title>Dashboard</title>
</head>

<body>
    <header>
        <h3>Hello {{user.username}}</h3>

        <div class="searchBox">

            <input class="searchInput" type="text" name="" placeholder="Search">
            <button class="searchButton" href="#">
                <i class="material-icons">
                    search
                </i>
            </button>
        </div>
    </header>
    <br>
    <div class="container">
        <h2>My Posts</h2>
    </div>
    <br>

    <a href="{{url_for('logout')}}">Press here to logout</a>

    <a href="{{url_for('profile')}}">Profile Page</a>

    <a href="{{url_for('upload')}}">Upload a Video</a>

    <h1> This is the URL: Thanks Jett! {{ uploadURL }}</h1>

</body>

</html>