<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/profile.css">
    <title>Dashboard</title>
</head>

<header>
    <a href="{{url_for('dashboard')}}" class="previous">&#8249;</a>
    <div class="user">
        <h3>{{user.username}}</h3>
    </div>
</header>

<body>
    <h2> {{ profile.id }}</h2>

    <form method="POST">
        <h1>BIO</h1>
        <input type="text" id="txtField" name="bio" value= "{{ profile.bio }}" required>
    
        <h1>Email</h1>
        <input type="text" id="txtField" name="email" value= {{ profile.email }} required>
    
        <h1>Phone Number</h1>
        <input type="text" id="txtField" name="number" value= {{ profile.phone_number }} required>
    
        <h1>Gamer Tag</h1>
        <input type="text" id="txtField" name="tag" value= {{ profile.gamer_tag }} required>
    
        <input type="submit" value="Submit">
    </form>
</body>

</html>